<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzwl.parking.dao.CarRecordMapper">

    <resultMap type="com.wzwl.parking.model.CarRecord" id="carRecord">
    </resultMap>

    <select id = "getCarRecordByEntryTime"  resultType = "com.wzwl.parking.model.CarRecord"  >
        select * from t_parking_car_record where  entry_time = #{entryTime}   and company_id = #{companyId}
        <if test="carNo != null">
            and car_no = #{carNo}
        </if>
        <if test="cardNo != null">
            and card_no = #{cardNo}
        </if>
    </select>
    <select id="getDailyFee" resultType="java.lang.Integer">
        SELECT COALESCE(SUM(pay_money),0)
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and pay_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and pay_time &lt; #{after,jdbcType=INTEGER}
        </if>
    </select>
    <select id="getEntryCountByTime" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and entry_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and entry_time &lt; #{after,jdbcType=INTEGER}
        </if>

    </select>
    <select id="getExitCountByTime" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and exit_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and exit_time &lt; #{after,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getExitTypeCount" resultType="java.util.Map">
        SELECT exit_pass_type,COALESCE(SUM(exit_pass_type),0) as sum
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and exit_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and exit_time &lt; #{after,jdbcType=INTEGER}
        </if>
	    GROUP BY exit_pass_type
    </select>

    <select id="getEntryTypeCount" resultType="java.util.Map">
        SELECT entry_pass_type,COALESCE(SUM(entry_pass_type),0) as sum
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and entry_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and entry_time &lt; #{after,jdbcType=INTEGER}
        </if>
	    GROUP BY entry_pass_type
    </select>

    <select id="getParkingSpaceUse" resultType="java.lang.Integer">
        SELECT use_space
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and entry_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and entry_time &lt; #{after,jdbcType=INTEGER}
        </if>
        order by entry_time desc limit 1
    </select>
    <select id="getParkingSpaceCount" resultType="java.lang.Integer">
        SELECT total_space
        FROM t_parking_car_record
        where 1=1
        <if test="companyId != null and companyId != ''" >
            and company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="parkId != null and parkId != ''">
            and park_id = #{parkId,jdbcType=VARCHAR}
        </if>
        <if test="before != null">
            and entry_time &gt;= #{before,jdbcType=INTEGER}
        </if>
        <if test="after != null">
            and entry_time &lt; #{after,jdbcType=INTEGER}
        </if>
        order by entry_time desc limit 1
    </select>

    <select id="getTimeCarCharge" resultType="java.lang.Integer">
        SELECT sum(pay_money)  FROM t_parking_car_record where pay_time &gt;= ${startTime} and pay_time &lt; ${endTime}
    </select>
</mapper>